In [1]:
!pip install pandas

Requirement already satisfied: pandas in c:\users\maria\anaconda3\lib\site-packages (2.2.2)
Requirement already satisfied: numpy>=1.26.0 in c:\users\maria\anaconda3\lib\site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\maria\anaconda3\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\maria\anaconda3\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\maria\anaconda3\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: six>=1.5 in c:\users\maria\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

In [3]:
!pip install ipython-sql

Requirement already satisfied: ipython-sql in c:\users\maria\anaconda3\lib\site-packages (0.5.0)
Requirement already satisfied: prettytable in c:\users\maria\anaconda3\lib\site-packages (from ipython-sql) (3.12.0)
Requirement already satisfied: ipython in c:\users\maria\anaconda3\lib\site-packages (from ipython-sql) (8.27.0)
Requirement already satisfied: sqlalchemy>=2.0 in c:\users\maria\anaconda3\lib\site-packages (from ipython-sql) (2.0.34)
Requirement already satisfied: sqlparse in c:\users\maria\anaconda3\lib\site-packages (from ipython-sql) (0.5.3)
Requirement already satisfied: six in c:\users\maria\anaconda3\lib\site-packages (from ipython-sql) (1.16.0)
Requirement already satisfied: ipython-genutils in c:\users\maria\anaconda3\lib\site-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\users\maria\anaconda3\lib\site-packages (from sqlalchemy>=2.0->ipython-sql) (4.11.0)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\maria\anaconda3\lib\site-packages (from sqlalchemy>=2.0->ipython-sql) (3.0.1)
Requirement already satisfied: decorator in c:\users\maria\anaconda3\lib\site-packages (from ipython->ipython-sql) (5.1.1)
Requirement already satisfied: jedi>=0.16 in c:\users\maria\anaconda3\lib\site-packages (from ipython->ipython-sql) (0.19.1)
Requirement already satisfied: matplotlib-inline in c:\users\maria\anaconda3\lib\site-packages (from ipython->ipython-sql) (0.1.6)
Requirement already satisfied: prompt-toolkit<3.1.0,>=3.0.41 in c:\users\maria\anaconda3\lib\site-packages (from ipython->ipython-sql) (3.0.43)
Requirement already satisfied: pygments>=2.4.0 in c:\users\maria\anaconda3\lib\site-packages (from ipython->ipython-sql) (2.15.1)
Requirement already satisfied: stack-data in c:\users\maria\anaconda3\lib\site-packages (from ipython->ipython-sql) (0.2.0)
Requirement already satisfied: traitlets>=5.13.0 in c:\users\maria\anaconda3\lib\site-packages (from ipython->ipython-sql) (5.14.3)
Requirement already satisfied: colorama in c:\users\maria\anaconda3\lib\site-packages (from ipython->ipython-sql) (0.4.6)
Requirement already satisfied: wcwidth in c:\users\maria\anaconda3\lib\site-packages (from prettytable->ipython-sql) (0.2.5)
Requirement already satisfied: parso<0.9.0,>=0.8.3 in c:\users\maria\anaconda3\lib\site-packages (from jedi>=0.16->ipython->ipython-sql) (0.8.3)
Requirement already satisfied: executing in c:\users\maria\anaconda3\lib\site-packages (from stack-data->ipython->ipython-sql) (0.8.3)
Requirement already satisfied: asttokens in c:\users\maria\anaconda3\lib\site-packages (from stack-data->ipython->ipython-sql) (2.0.5)
Requirement already satisfied: pure-eval in c:\users\maria\anaconda3\lib\site-packages (from stack-data->ipython->ipython-sql) (0.2.2)

In [5]:
import sqlite3
import pandas as pd

## This enable you use SQL in the notebook with Python

In [8]:
%load_ext sql

In [10]:
conn = sqlite3.connect("RealWorldData.db")

## Connect database with python

In [13]:
%sql sqlite:///RealWorldData.db

In [15]:
df = pd.read_csv("https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/FinalModule_Coursera_V5/data/ChicagoPublicSchools.csv")
#convert data into sql table
rows = df.to_sql("chicago_schools", conn, if_exists = 'replace', index = False)
print(f"Rows fetched successfully: {rows}")

Rows fetched successfully: 566

In [17]:
# convert dataframe into sql table
import prettytable
prettytable.DEFAULT = 'DEFAULT'

## Remember names of tables in database

In [21]:
%sql SELECT name From sqlite_master WHERE type = 'table'

 * sqlite:///RealWorldData.db
Done.

[('CHICAGO_PUBLIC_SCHOOLS_DATA',), ('chicago_schools',)]

## Check columns of table we will use

In [77]:
%sql SELECT name FROM PRAGMA_TABLE_INFO('CHICAGO_PUBLIC_SCHOOLS_DATA')

 * sqlite:///RealWorldData.db
Done.

[('School_ID',),
 ('NAME_OF_SCHOOL',),
 ('Elementary, Middle, or High School',),
 ('Street_Address',),
 ('City',),
 ('State',),
 ('ZIP_Code',),
 ('Phone_Number',),
 ('Link',),
 ('Network_Manager',),
 ('Collaborative_Name',),
 ('Adequate_Yearly_Progress_Made_',),
 ('Track_Schedule',),
 ('CPS_Performance_Policy_Status',),
 ('CPS_Performance_Policy_Level',),
 ('HEALTHY_SCHOOL_CERTIFIED',),
 ('Safety_Icon',),
 ('SAFETY_SCORE',),
 ('Family_Involvement_Icon',),
 ('Family_Involvement_Score',),
 ('Environment_Icon',),
 ('Environment_Score',),
 ('Instruction_Icon',),
 ('Instruction_Score',),
 ('Leaders_Icon',),
 ('Leaders_Score',),
 ('Teachers_Icon',),
 ('Teachers_Score',),
 ('Parent_Engagement_Icon',),
 ('Parent_Engagement_Score',),
 ('Parent_Environment_Icon',),
 ('Parent_Environment_Score',),
 ('AVERAGE_STUDENT_ATTENDANCE',),
 ('Rate_of_Misconducts__per_100_students_',),
 ('Average_Teacher_Attendance',),
 ('Individualized_Education_Program_Compliance_Rate',),
 ('Pk_2_Literacy__',),
 ('Pk_2_Math__',),
 ('Gr3_5_Grade_Level_Math__',),
 ('Gr3_5_Grade_Level_Read__',),
 ('Gr3_5_Keep_Pace_Read__',),
 ('Gr3_5_Keep_Pace_Math__',),
 ('Gr6_8_Grade_Level_Math__',),
 ('Gr6_8_Grade_Level_Read__',),
 ('Gr6_8_Keep_Pace_Math_',),
 ('Gr6_8_Keep_Pace_Read__',),
 ('Gr_8_Explore_Math__',),
 ('Gr_8_Explore_Read__',),
 ('ISAT_Exceeding_Math__',),
 ('ISAT_Exceeding_Reading__',),
 ('ISAT_Value_Add_Math',),
 ('ISAT_Value_Add_Read',),
 ('ISAT_Value_Add_Color_Math',),
 ('ISAT_Value_Add_Color_Read',),
 ('Students_Taking__Algebra__',),
 ('Students_Passing__Algebra__',),
 ('9th Grade EXPLORE (2009)',),
 ('9th Grade EXPLORE (2010)',),
 ('10th Grade PLAN (2009)',),
 ('10th Grade PLAN (2010)',),
 ('Net_Change_EXPLORE_and_PLAN',),
 ('11th Grade Average ACT (2011)',),
 ('Net_Change_PLAN_and_ACT',),
 ('College_Eligibility__',),
 ('Graduation_Rate__',),
 ('College_Enrollment_Rate__',),
 ('COLLEGE_ENROLLMENT',),
 ('General_Services_Route',),
 ('Freshman_on_Track_Rate__',),
 ('X_COORDINATE',),
 ('Y_COORDINATE',),
 ('Latitude',),
 ('Longitude',),
 ('COMMUNITY_AREA_NUMBER',),
 ('COMMUNITY_AREA_NAME',),
 ('Ward',),
 ('Police_District',),
 ('Location',)]

# Now! We Can Start Analysis

#### q1: How much schools that achieved Yearly_Progress?

In [30]:
%%sql
SELECT COUNT(Adequate_Yearly_Progress_Made_) AS Progressed_Schools 
FROM CHICAGO_PUBLIC_SCHOOLS_DATA 
WHERE Adequate_Yearly_Progress_Made_ = "Yes"

 * sqlite:///RealWorldData.db
Done.

[(72,)]

#### q2: What are schools with the highest "Average Student Attendance"?

In [71]:
%%sql
SELECT NAME_OF_SCHOOL, Average_Student_Attendance FROM CHICAGO_PUBLIC_SCHOOLS_DATA
WHERE Average_Student_Attendance = (SELECT MAX(Average_Student_Attendance) FROM CHICAGO_PUBLIC_SCHOOLS_DATA)

 * sqlite:///RealWorldData.db
Done.

[('John Charles Haines Elementary School', '98.40%')]

#### q3: What are schools with the highest "Teachers Icone"?

In [83]:
%%sql
SELECT COUNT(NAME_OF_SCHOOL) FROM CHICAGO_PUBLIC_SCHOOLS_DATA
WHERE Adequate_Yearly_Progress_Made_ = "Yes"
AND Teachers_Icon = 'Strong'

 * sqlite:///RealWorldData.db
Done.

[(14,)]

#### q4: What is the highest Safety Score?

In [49]:
%%sql 
SELECT NAME_OF_SCHOOL, SAFETY_SCORE FROM CHICAGO_PUBLIC_SCHOOLS_DATA
WHERE SAFETY_SCORE = (SELECT MAX(SAFETY_SCORE) FROM CHICAGO_PUBLIC_SCHOOLS_DATA)

 * sqlite:///RealWorldData.db
Done.

[('Abraham Lincoln Elementary School', 99.0),
 ('Alexander Graham Bell Elementary School', 99.0),
 ('Annie Keller Elementary Gifted Magnet School', 99.0),
 ('Augustus H Burley Elementary School', 99.0),
 ('Edgar Allan Poe Elementary Classical School', 99.0),
 ('Edgebrook Elementary School', 99.0),
 ('Ellen Mitchell Elementary School', 99.0),
 ('James E McDade Elementary Classical School', 99.0),
 ('James G Blaine Elementary School', 99.0),
 ('LaSalle Elementary Language Academy', 99.0),
 ('Mary E Courtenay Elementary Language Arts Center', 99.0),
 ('Northside College Preparatory High School', 99.0),
 ('Northside Learning Center High School', 99.0),
 ('Norwood Park Elementary School', 99.0),
 ('Oriole Park Elementary School', 99.0),
 ('Sauganash Elementary School', 99.0),
 ('Stephen Decatur Classical Elementary School', 99.0),
 ('Talman Elementary School', 99.0),
 ('Wildwood Elementary School', 99.0)]

#### q5: How many schools have highest safety score?

In [40]:
%%sql 
SELECT COUNT(*) FROM CHICAGO_PUBLIC_SCHOOLS_DATA
WHERE SAFETY_SCORE = (SELECT MAX(SAFETY_SCORE) FROM CHICAGO_PUBLIC_SCHOOLS_DATA)

 * sqlite:///RealWorldData.db
Done.

[(19,)]

#### q6: How many high school achieve progress?

In [101]:
%%sql SELECT COUNT(*) FROM CHICAGO_PUBLIC_SCHOOLS_DATA 
WHERE "Elementary, Middle, or High School" = 'HS'
and Adequate_Yearly_Progress_Made_ = "Yes"

 * sqlite:///RealWorldData.db
Done.

[(6,)]

#### q7: How many students in high school enroll in college?

In [110]:
%%sql SELECT COUNT(COLLEGE_ENROLLMENT) AS COUNT_ENROLLMENT, SUM(COLLEGE_ENROLLMENT) AS SUM_ENROLLMENT 
FROM CHICAGO_PUBLIC_SCHOOLS_DATA
WHERE "Elementary, Middle, or High School" = 'HS'
and Adequate_Yearly_Progress_Made_ = "Yes"

 * sqlite:///RealWorldData.db
Done.

[(6, 9897)]